*{
    margin: 0px auto;
    padding: 0px;
}

body{
	background-color: gray;
}

#header{
	width: 100%;
	height: 95px;
	background-color: #332a29;
	z-index: 777;
	top: 0px;
	position: fixed;
}
	
#header_logo{
	margin-top: 10px;
	float: left;
}

#header_cont{
	width: 1100px;	
	height: 80px;
}

#main{
	margin-top: 100px;
}

#title{
	width: 1100px;
	height: 50px;
	background-color: #534544;
	color: white;
	margin-top: -5px;
	text-align: center;
	padding-top: 25px;
	font-family: Gill Sans MT;
}

#desc{
	width: 1100px;
	height: 30px;
	padding-top: 10px;
	background-color: #7dc9ff;
	color: #07558c;
}

#desc p{
	padding-left: 10px;
}

ul{
	width: 1100px;
	height: 352px;
	background-color: white;
	list-style: none;
	padding-top: 100px;
}

li{
	width: 500px;
	padding: 20px;
	border-bottom: 1px solid #bdbdbd;
	
}

li a{
	text-decoration: none;
	color: black;
}

li:hover{
	background-color: #4db0f6;
	border: 1px solid #0095fd;
	opacity: 0.5;
}

#head{
	width: 500px;
	background-color: #bdbdbd;
	font-size: 20px;
	padding: 20px;
	color: #767676;
	border: 0px;
	
}