*{
    margin: 0px auto;
    padding: 0px;
}

#header{
	width: 100%;
	height: 95px;
	background-color: #332a29;
	z-index: 777;
	top: 0px;
	position: fixed;
}
	
#header_logo{
	margin-top: 10px;
	float: left;
}

#header_cont{
	width: 1100px;	
	height: 80px;
}

.dropdown{ /*dropdown button and contents*/
	float: right;
    position: relative;
	right: 18px;
    display: inline-block;
}

.dropbtn{
	font-family: Bebas;
    transition: all 0.3s ease;
	color: white;
	background-color: #ff7777;
	text-decoration: none;
	font-size: 100%;
	border: none;
	padding: 10px 30px 12px 30px;
	margin-top: 22px;
}

.dropdown-content{
   	display: none;
    position: absolute;
    background-color: white;
    width: 200px;
	right: 0px;
    box-shadow: none;
    z-index: 1;
}

.dropdown-content a{
	font-family: Bebas;
    padding: 16px 20px 20px 10px;
    text-decoration: none;
	color: #ff7777;
    display: block;
    transition: all 0.3s ease;
}

.dropdown-content a:hover {
	background-color: #ff7777;
	color: white;
}

.dropdown:hover .dropdown-content {
	margin-left: -15px;
	display: block;
}

.dropdown .dropbtn:hover {
	background-color: #ff7777;
}

.dropbtn_centernav{
	float: left;
	display: inline;
	font-family: Bebas;
    transition: all 0.3s ease;
	color: white;
	text-decoration: none;
	font-size: 100%;
	border: none;
	padding: 10px;
	margin: 2px;
	position: relative;
	background-color: #534544;
	}

.dropdown-content_centernav {
	height: 500px;
   	display: none;
    position: absolute;
    min-width: 1000px;
    box-shadow: none;
	transition: all 0.3s ease;
    z-index: 1;
}

.dropdown-content_centernav h2 {
	text-align: center;
	color: black;
	padding: 10px;
	margin-top: 100px;
	font-size: 40px;
}

.dropdown-content_centernav {
	color: black;
	padding: 50px 50px;
	margin-top: 100px;
	font-size: 25px;
}

.dropdown_centernav:hover .dropdown-content_centernav {
	margin-top: 50px;
	margin-left: -500px;
	display: block;
	width: 100%;
	background-color: #ff7777;
	z-index: 99;
}

.dropbtn_centernav:hover {
	background-color: #ff7777;
}

.table-responsive{
	margin: 0px -240px 10px 0px;
	padding: 20px;
	width: 300px;
	font-size: 18px;
	color: #332a29;
	background-color: gray;
	z-index: 1;
}

.table-responsive1{
	margin: 100px -240px 10px 0px;
}

.close{
	color: white;
}

#nav{
	background-color: #534544;
	width: 100%;
	height: 51px;
	margin-top: 95px;
	position: fixed;
	z-index: 776;
}

#nav_cont{
	width: 1100px;	
	height: 50px;
}

#navigations li{
	padding: 10px 10px;
	display: inline-block;
	float: right;
}

#navigations a{
	font-family: Bebas;
	font-size: 17px;
	color: white;
	text-decoration: none;
	padding: 10px 20px;
}

.styled:hover{
	height: 30px;
	background-color: #ff7777;
}

.styled:active{
    background-color: gray;
}

.styled:visited{
	background-color: black;
}

.search{
    padding:8px 20px;
    background: white;
    border:0px solid #dbdbdb;
}

#slider{
	width: 1287px;
	height: 580px;
	position: relative;
	top: 140px;
}

#slider_cont{
	z-index: 1;
	width: 1287px;
}

#float_imagebg{
	z-index: 3;
	background-color: black;
	width: 700px;
	height: 450px;
	position: relative;
	float: left;
	bottom: 580px;
	margin-bottom: -580px;
	left: 300px;
	opacity: 0.5;
}

#image_cont img{
	z-index: 4;
	position: relative;
	float: left;
	bottom: 520px;
	left: 450px;
	margin-bottom: -520px;
}

.button{
    position: relative;
    padding: 6px 15px;
    left: -8px;
    border:2px solid #332a29;
    background-color:#332a29;
    color:#fafafa;
}

.button:hover{
    border:2px solid gray;
    background-color:gray;
    color:white;
}

.button:active{
    background-color:black;
    color:white;
}

.but_prev, .but_next{
  cursor: pointer;
  position: relative;
  padding: 16px;
  color: white;
  background-color: gray;
  border: 0px;
  font-weight: bold;
  font-size: 18px;
  opacity: 0.5;
  transition: 0.6s ease;
}

.but_prev:hover, .but_next:hover{
	opacity: 1;
}

.but_prev:active, .but_next:active{
	opacity: 1;
	background-color: black;
}

.but_prev{
	bottom: 330px;
}

.but_next{
	bottom: 330px;
	left: 1200px;
}

#create_event{
	background-color: white;
	width: 1287px;
	height: 500px;
	z-index: 7;
	position: relative;
	top: 141px;
	padding: 0px 0px 150px 0px;

}

#create_event img{
	padding-top: 80px;
}

#create_event img:hover{
	border-bottom: 10px solid #ff7777;
	opacity: 0.5;
}

#create_event img:active{
	border-bottom: 10px solid black;
	opacity: 0.5;
}

#create_join{
	border: 2px solid #332a29;
	border-width: 0 2px 0 0;
	width: 600px;
	height: 350px;
	float: left;
	padding-left:60px;
	margin-top: 25px;
}

#create_join img{
	position: relative;
	bottom: 25px;
}

#myevents_joined img{
	position: relative;
	left: 60px;
}

#myevents_joined img:hover{
	border-bottom: 10px solid #ff7777;
	opacity: 0.5;
}

#myevents_joined img:active{
	border-bottom: 10px solid black;
	opacity: 0.5;
}

.icons{
	background-color: white;
	height: 300px;
}

#team{
	background-color: #ffbea8;
	width: 1287px;
	height: 730px;

}

#category{
	width: 1287px;
	height: 800px;
	background-color: #ff7777;
}

#stylep1{
	color: white;
	font-family: Bebas;
	font-size: 25px;
	padding: 20px 100px;
}

div.gallery {
    margin: 70px 0px 0px 50px;
    float: left;
    width: 250px;
	height: 250px;
	background-color: #333333;
	color: white;
	position: relative;
	z-index: 0;
}

div.image {
  display: block;
  width: 100%;
  height: auto;
}

div.gallery img {
    width: 100%;
    height: auto;
}

.desc {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: Gill Sans MT;
  background-color: rgba(0,0,0,0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.gallery:hover .desc {
  height: 100%;
}

.text {
  white-space: wrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.head{
	font-family: Bebas;
	font-size: 30px;
	padding: 180px 131px 20px 131px;
	background-color: #332a29;
	color: white;
	width: 1025px;
}

#head2{
	font-family: Bebas;
	font-size: 25px;
	padding: 100px;
}

.paragraph{
	font-family: Raleway;
	font-size: 22px;
	text-align: justify;
	color: white;
	padding: 70px 100px;
}

#contact_us{
	width: 1287px;
	height: 400px;
	background-color: #534544;
	color: white;
}
.footer_con{
	width: 404x;
	height: 350px;
	float: left;
	left: 0;
	margin: 20px 50px;
	padding-right: 80px;
}

.stylef{
	color: white;
	font-family: Bebas;
	font-size: 20px;
	padding: 50px 0px 0px 137px;
}

.stylep_con{
	list-style: none;
	padding-top: 50px;
	
}

.stylep_con li{
	padding-top: 10px;
}

.stylep_con a{
	text-decoration: none;
	color: #d2d6df;
	font-family: Gill Sans MT;
	font-size: 15px;
}

.stylep_con a:hover{
	color: #ff7777;
	text-decoration: underline;
}

#copyright{
	color: white;
	background-color: #332a29;
	width: 100%;
	height: 20px;
	padding: 10px 0 10px 0;
	font-size: 12px;
}

#container{
	width: 1025px;
}